


:root {
  --padding: 20px;
  --paddingSm: 8px;
  --fontSize: 16px;
  --bgColor: #222c31;
  --lineHeight: 1.6em;
  --red: #d46870;
  --white: #efefef;
  --green: #7ec699;
  --blue: #6196cc;
  --lightBlue: #67cdcc;
  --pink: #cc99cd;
  --yellow: #f8c555;
  --orange: #f08d49;
  --mauve: #e2777a;
  --black: #111;
  --gray: #222;
  --grayLight: #888;
  --grayMedium: #777;
  --grayDark: #333;
}
